    <html>
    <head>
      <link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap.css" type="text/css" media="screen"/>
      <link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap-responsive.css" type="text/css" media="screen"/>
      <link rel="stylesheet" href="{{STATIC_URL}}common/css/yacrt-site.css" type="text/css" media="screen"/>
  </head>
  <body>

                    <div style="margin-left:1000px; margin-top: 30px; font-size: 14px">
                         Welcome {{user_name}}
                         <br>
                         <a href="/registration/signout/">Logout</a>
                    </div>
                    <div style="width: 100%; height: 100%; margin-top: 30px;">
                        <h2>Changes for revision {{rev_number}} of {{repo_name}}</h2>
                        {%for p in changed_paths%}
                        <br>
                        <div class="auto-hide-scroll">
                            <div style="width: 2000px;">
                            <table class="diff-table">
                                <colgroup width="2%"></colgroup>
                                <colgroup width="2%"></colgroup>
                                <colgroup width="96%"></colgroup>
                                <tbody>
                                    <tr>
                                        <td class="change-title" colspan=3 style="font-size:20px"><b class="{{p.change.get_action_on_file}}">{{p.change.get_action_on_file}}</b><b>&nbsp;&nbsp;{{p.change.get_relative_path}}</b>&nbsp;&nbsp;<a href="javascript:void(0);" onclick=expand_view(this,"diff-view-{{forloop.counter}}")> <i class="icon-minus"></i> </a></td>
                                    </tr>
                                </tbody>
                                <tbody id="diff-view-{{forloop.counter}}">
                                    {%for line in p.diff%}
                                    {%autoescape off%} {{line}} {% endautoescape%}
                                    <tr id="comments-row" style="display: none">
                                        <td colspan="2" id="comments-count line-number"></td>
                                        <td id="comments-holder">
                                            <!-- div tag which holds the actual comments -->
                                            <div id="all-comments" style="display: none"></div>
                                            <!-- new comment form -->
                                            <div id="comment-form">
                                                <textarea id="comment-content" rows="3" style="width: 100%" placeholder="Leave a comment for this line"></textarea>
                                                <input type="button" class="btn" id="comment-action-button" value="Add Comment"
                                                onclick="comment_form_action(this)"/>
                                                <input type="button" class="btn" id="comment-close-button" value="Close Form"
                                                onclick="comment_close_action(this)"/>
                                            </div>
                                        </td>
                                    </tr>
                                {%endfor%}
                        </tbody>

                    </table>
                </div>
                </div>
                <br>
                {%endfor%}
                </div>

                <!-- Template for comment new and edit forms-->
                <div id="comment-form" style="display:none;">
                    <textarea id="comment-content" rows="3" style="width: 100%" placeholder="Leave a comment for this line"></textarea>
                    <input type="button" class="btn" id="comment-action-button" value=""
                    onclick="comment_form_action(this)"/>
                    <input type="button" class="btn" id="comment-close-button" value="Close Form"
                    onclick="comment_close_action(this)"/>
                </div>
                <!-- Template for comment-->
                <div id="comment-template" style="display:none;">
                    <div class="comment-author-timestamp"><i class="icon-remove" onclick=remove_comment(this)></i></div>

                    <div class="comment-content"></div>
                </div>

                <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.js"></script>
                <script type="text/javascript">

                function get_file_path(diff_row) {
                    title_body = $(diff_row).parent().prev();
                    tr = $(title_body).children()[0];
                    td = $(tr).children()[0];
                    b = $(td).children()[1];
                    file_path = $.trim($(b).text());
                    return file_path;
                }

                function get_line_number(diff_row) {
                    return $($(diff_row).children()[1]).html();
                }
                function get_comment_parameters(comments_row) {
                    params = {}
                    params['repo_id'] = {{repo_id}}
                    params['revision_number'] = {{rev_number}}

                    diff_row = $(comments_row).prev();

                    params['file_path'] = get_file_path(diff_row);
                    params['line_number'] = get_line_number(diff_row);

                    return params;
                }

                function save_comment(comment_content, comments_row) {
                    params = get_comment_parameters(comments_row);
                    params['content'] = comment_content;
                    result = null
                    $.ajax({
                            url: '/comments/create/',
                            type: 'get',
                            data: params,
                            async: false,
                            success: function(data) {
                                result = data;
                            }
                         });
                    return result;
                }

                function delete_comment(comment_id) {
                    result = null;
                    params = {};
                    params['repo_id'] = {{repo_id}};
                    params['comment_id'] = comment_id;
                    $.ajax({
                            url: '/comments/destroy/',
                            type: 'get',
                            data: params,
                            async: false,
                            success: function(data) {
                                result = data;
                            }
                         });
                    return result;
                }

                function remove_comment(delete_button) {
                    comment = $(delete_button).parent().parent();
                    comment_id = $(comment).attr('id');
                    all_comments = $(comment).parent();
                    result = delete_comment(comment_id);
                    if(result['error_code'] ==0) {
                        $(comment).remove();
                        if($(all_comments).children().length <=0) {
                            $(all_comments).hide();
                            comments_row = $(all_comments).parent().parent();
                            $(comments_row).hide();
                        }
                    }
                }

                function render_comment_template(content, author, comment_id, timestamp) {
                    comment = $("#comment-template").clone();
                    $(comment).attr('class',"comment");
                    $(comment).attr('id',comment_id);
                    comment_fields = $(comment).children();
                    $(comment_fields[0]).html(author+" commented at "+timestamp + "   " + $(comment_fields[0]).html());
                    $(comment_fields[1]).html(content);
                    if(!$(comment).is(":visible")) {
                        $(comment).attr('style',"display: block;");
                    }
                    return comment;
                }

                //handler invoked when Add Comment button is pressed
                function add_new_comment(comment_form) {
                    comment_text_box = $(comment_form).children()[0];
                    comment_content = $.trim(comment_text_box.value);
                    if(comment_content != "") {
                        result = save_comment(comment_content, $(comment_form).parent().parent());
                        all_comments = $(comment_form).prev();
                        if(result['comment_id'] >= 0) {
                            $(all_comments).append(render_comment_template(comment_content, result['author'] , result['comment_id'], result['timestamp']));
                            if(!($(all_comments).is(":visible"))) {
                                $(all_comments).show();
                            }
                        }
                    }
                }

                function show_new_comment_form(form_button) {
                    $(form_button).prop('value',"Add Comment");
                    $(form_button).prev().show();
                    $(form_button).next().show();
                }

                //handler invoked when comment form button is pressed
                function comment_form_action(form_button) {
                    button_label = $(form_button).attr('value')
                    if(button_label == "Add Comment") {
                        add_new_comment($(form_button).parent());
                    }
                    else if (button_label == "Add New Comment") {
                        show_new_comment_form(form_button);
                    }
                    else if (button_label == "Update Comment") {
                    }
                }

                //Close Form button functionality
                function comment_close_action(close_button) {
                    all_comments = $(close_button).parent().prev();
                    if (!($(all_comments).is(":visible"))) {
                        $(all_comments).parent().parent().hide();
                    }
                    else {
                        $(close_button).hide();
                        input_button = $(close_button).prev();
                        $(input_button).prop('value',"Add New Comment");
                        comment_text_box = $(input_button).prev();
                        $(comment_text_box).hide();
                    }
                }

                //handler invoked when diff output row is clicked
                function diff_line_clicked_action(e, line_number) {
                    comment_row = $(e).next('tr')
                    if(!($(comment_row).is(":visible"))) {
                        $(comment_row).show();
                    }
                }

                //Expand and collapse the diff output
                function expand_view(src_elem, elem_id) {
                    if ($(src_elem).children().attr('class') == "icon-plus") {
                        $(src_elem).children().attr('class', 'icon-minus');
                    } else {
                        $(src_elem).children().attr('class', 'icon-plus');
                    }
                    $('#' + elem_id).slideToggle(100);
                }
                </script>
            </body>
            </html>
