<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap-responsive.css" type="text/css" media="screen"/>
	</head>
	<body>
		
		<div style="margin-left:1000px; margin-top: 30px; font-size: 3">
			Welcome {{user_name}} <br> <a href="/registration/logout/">Logout</a>
		</div>
		<div style="width: 1200px; height: 700px; margin-left: 2cm; margin-top: 30px;">
			<h2>Your Repositories</h2>
		</div>
		<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.js"></script>

	</body>
</html>