<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html>
	<head>
		<link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap.css" type="text/css" media="screen"/>
		<link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap-responsive.css" type="text/css" media="screen"/>
	</head>
	<body>

		<div style="margin-left:1000px; margin-top: 30px; font-size: 3">
			Welcome {{user_name}}
			<br>
			<a href="/registration/signout/">Logout</a>
		</div>
		<div style="width: 1200px; height: 700px; margin-left: 2cm; margin-top: 30px;">
			<h2>Revisions for {{repo_name}}</h2>
			<table class="table table-bordered table-striped">
				<colgroup width="8%"/>
				<colgroup width="12%"/>
				<colgroup width="60%"/>
				<colgroup width="20%"/>
				<thead>					
					<tr>
						<th>Revision #</th>
						<th>Revision Author</th>
						<th>Revision Commit Message</th>
						<th>Revision Time</th>
					</tr>
				</thead>
				
				<tbody>
					{%for revision in repo_revisions%}
					<tr>					
						<td>{{revision.get_revision_number}}</td>
						<td>{{revision.get_author}}</td>
						<td>
							<a href="/repos/revisions/changes/?repo_url={{repo_url}}&repo_name={{repo_name}}&rev_number={{revision.get_revision_number}}">
							{{revision.get_message}}
							</a>
						</td>
						<td>{{revision.get_date}}</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.js"></script>
		<script type="text/javascript">
			function expand_files_view(elem_tag) {
				if ($.trim($('#'+elem_tag+'-show-btn').html()) == "Browse Files") {
					$('#'+elem_tag+'-show-btn').html("Close");
				}
				else {
					console.log("is close")
					$('#'+elem_tag+'-show-btn').html("Browse Files");	
				}
				$('#'+elem_tag).toggle();
				return false;
			}
		</script>

	</body>
</html>
