<html>
    <head>
        <link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{STATIC_URL}}common/css/bootstrap-responsive.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{STATIC_URL}}common/css/yacrt-site.css" type="text/css" media="screen"/>
    </head>
    <body>

        <div style="margin-left:1000px; margin-top: 30px; font-size: 14px">
            Welcome {{user_name}}
            <br>
            <a href="/registration/signout/">Logout</a>
        </div>
        <div style="width: 1800px; height: 700px; margin-left: 2cm; margin-top: 30px;">
            <h2>Changes for revision {{rev_number}} of {{repo_name}}</h2>
                    {%for p in changed_paths%}
                        <br>
                        <div class="row-fluid">
                            <div class="span7">
                                <div class="accordion" id="accordion2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading" >
                                            {% if p.diff %}
                                            <a  onclick="onExpandIsClicked({{ forloop.counter }})" id="expand{{ forloop.counter }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ forloop.counter }}">
                                                <i id="expandIcon{{ forloop.counter }}" class="icon-plus-sign"></i>
                                            {% else %}
                                                <a class="accordion-toggle" data-parent="#accordion2">
                                                <i class="icon-ok-circle"></i>
                                            {% endif %}
                                                <b class="{{p.change.get_action_on_file}}">{{p.change.get_action_on_file}}</b>
                                                <b>&nbsp;&nbsp;{{p.change.get_relative_path}}</b> &nbsp;&nbsp;
                                            </a>
                                            {% if p.diff %}
                                            <div id="collapse{{ forloop.counter }}" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                    <div class="auto-hide-scroll" >
                                                    <div class="diff-table" style="width:2000px;">
                                                        {%autoescape off%}
                                                            {% for line in p.diff %}
                                                                {{ line }}
                                                            {% endfor %}
                                                         {% endautoescape%}
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endfor%}
        </div>
        <script type="text/javascript" src="{{STATIC_URL}}common/js/jquery.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}common/js/bootstrap.js"></script>
        <script type="text/javascript">
             function onExpandIsClicked(iconNumber) {
                   var expandClass = $('#expandIcon'+iconNumber).attr("class");
                   if( expandClass == "icon-minus-sign") {
                       $('#expandIcon'+iconNumber).attr('class', 'icon-plus-sign');
                   } else {
                       $('#expandIcon'+iconNumber).attr('class', 'icon-minus-sign');
                    }
             }
        </script>
    </body>
</html>